*~
*.1
*.1.t
*.3
*.3.t
*.bak
*.cmi
*.cmx
*.la
*.lo
*.log
*.o
*.trs

.deps
.gdb_history
.libs
Makefile
Makefile.in

/local*
/nbdkit-*.tar.gz
/nbdkit-*.*/

/aclocal.m4
/autom4te.cache
/common/bitmap/test-bitmap
/common/include/test-byte-swapping
/common/include/test-current-dir-name
/common/include/test-isaligned
/common/include/test-ispowerof2
/common/include/test-iszero
/common/include/test-minmax
/common/include/test-nextnonzero
/common/include/test-random
/common/include/test-tvdiff
/common/protocol/protostrings.c
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/filter-links.pod
/docs/lang-plugin-links.pod
/docs/plugin-links.pod
/fuzzing/sync_dir/
/html/*.html
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/nbdkit
/plugins/example4/nbdkit-example4-plugin
/plugins/rust/Cargo.lock
/plugins/rust/Cargo.toml
/plugins/rust/target
/plugins/tar/nbdkit-tar-plugin
/podwrapper.pl
/server/nbdkit
/server/nbdkit.pc
/server/synopsis.c
/server/test-utils
/stamp-h1
/tests/disk
/tests/disk.gz
/tests/disk.xz
/tests/ext2.img
/tests/file-data
/tests/functions.sh
/tests/keys.psk
/tests/offset-data
/tests/partition-disk
/tests/pki
/tests/split1
/tests/split2
/tests/split3
/tests/ssh/authorized_keys
/tests/ssh/id_rsa
/tests/ssh/id_rsa.pub
/tests/ssh/ssh_host_rsa_key
/tests/ssh/ssh_host_rsa_key.pub
/tests/ssh/sshd_config
/tests/stamp-ssh-host-key
/tests/stamp-ssh-user-key
/tests/test-connect
/tests/test-curl
/tests/test-data
/tests/test-delay
/tests/test-error
/tests/test-exit-with-parent
/tests/test-ext2
/tests/test-file
/tests/test-file-block
/tests/test-gzip
/tests/test-just-filter-header
/tests/test-just-plugin-header
/tests/test-layers
/tests/test-lua
/tests/test-memory
/tests/test-newstyle
/tests/test-nbd
/tests/test-null
/tests/test-ocaml
/tests/test-ocaml-plugin.so
/tests/test-offset
/tests/test-oldstyle
/tests/test-partition
/tests/test-perl
/tests/test-python
/tests/test-random
/tests/test-readahead
/tests/test-ruby
/tests/test-shell
/tests/test-shell.img
/tests/test-socket-activation
/tests/test-split
/tests/test-streaming
/tests/test-tcl
/tests/test-xz
/tests/test-xz-curl
/test-driver
/valgrind/suppressions
