*~
*.1
*.1.t
*.3
*.3.t
*.cmi
*.cmx
*.la
*.lo
*.log
*.o
*.trs

.deps
.gdb_history
.libs
Makefile
Makefile.in

/local*
/nbdkit-*.tar.gz

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/nbdkit
/plugins/example4/nbdkit-example4-plugin
/plugins/tar/nbdkit-tar-plugin
/src/nbdkit
/stamp-h1
/tests/disk
/tests/disk.gz
/tests/disk.xz
/tests/file-data
/tests/pki
/tests/split1
/tests/split2
/tests/split3
/tests/test-connect
/tests/test-exit-with-parent
/tests/test-file
/tests/test-gzip
/tests/test-memory
/tests/test-newstyle
/tests/test-nbd
/tests/test-null
/tests/test-ocaml
/tests/test-ocaml-plugin.so
/tests/test-oldstyle
/tests/test-perl
/tests/test-python
/tests/test-ruby
/tests/test-socket-activation
/tests/test-split
/tests/test-streaming
/tests/test-xz
/test-driver
