*~
*.bak
*.cmi
*.cmx
*.dll
*.exe
*.la
*.lo
*.log
*.o
*.trs

.deps
.dirstamp
.gdb_history
.libs
Makefile
Makefile.in

/local*
/nbdkit-*.tar.gz
/nbdkit-*.*/

docs/*.1
docs/*.3
filters/*/*.1
plugins/*/*.1
plugins/*/*.3

.libs/*.so
/tests/*.so

/aclocal.m4
/autom4te.cache
/common/bitmap/test-bitmap
/common/include/test-ascii-ctype
/common/include/test-ascii-string
/common/include/test-byte-swapping
/common/include/test-isaligned
/common/include/test-ispowerof2
/common/include/test-iszero
/common/include/test-minmax
/common/include/test-nextnonzero
/common/include/test-random
/common/include/test-tvdiff
/common/protocol/generate-protostrings.sh
/common/protocol/protostrings.c
/common/replacements/libcompat.a
/common/replacements/test-current-dir-name
/common/replacements/win32/MSG00001.bin
/common/replacements/win32/nbdkit-cat.h
/common/replacements/win32/nbdkit-cat.rc
/common/utils/test-quotes
/common/utils/test-vector
/common/utils/windows-errors.c
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/filter-links.pod
/docs/lang-plugin-links.pod
/docs/plugin-links.pod
/fuzzing/sync_dir/
/fuzzing/testcase_dir/[0-f]*
/html/*.html
/include/nbdkit-version.h
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/nbdkit
/plugins/example4/nbdkit-example4-plugin
/plugins/eval/call.c
/plugins/eval/methods.c
/plugins/golang/examples/*/nbdkit-*-plugin.h
/plugins/golang/examples/*/nbdkit-*-plugin.so
/plugins/ocaml/nbdkit-ocamlexample-plugin.so
/plugins/ondemand/default-command.c
/plugins/rust/Cargo.lock
/plugins/rust/target
/plugins/tmpdisk/default-command.c
/podwrapper.pl
/server/libnbdkit.a
/server/local/nbdkit.pc
/server/nbdkit
/server/nbdkit.def
/server/nbdkit.pc
/server/synopsis.c
/server/test-public
/stamp-h1
/tests/__pycache__/
/tests/disk
/tests/disk.gz
/tests/disk.tar
/tests/disk.tar.gz
/tests/disk.tar.xz
/tests/disk.xz
/tests/ext2.img
/tests/file-data
/tests/functions.sh
/tests/keys.psk
/tests/partition-disk
/tests/pki
/tests/split1
/tests/split2
/tests/split3
/tests/ssh/authorized_keys
/tests/ssh/id_rsa
/tests/ssh/id_rsa.pub
/tests/ssh/ssh_host_rsa_key
/tests/ssh/ssh_host_rsa_key.pub
/tests/ssh/sshd_config
/tests/stamp-ssh-host-key
/tests/stamp-ssh-user-key
/tests/test-connect
/tests/test-curl
/tests/test-curl-cookie-script
/tests/test-curl-header-script
/tests/test-data
/tests/test-delay
/tests/test-exit-with-parent
/tests/test-ext2
/tests/test-file
/tests/test-file-block
/tests/test-golang
/tests/test-gzip
/tests/test-gzip-curl
/tests/test-just-filter-header
/tests/test-just-plugin-header
/tests/test-layers
/tests/test-lua
/tests/test-memory
/tests/test-memory-allocator-malloc
/tests/test-memory-allocator-zstd
/tests/test-newstyle
/tests/test-nbd
/tests/test-null
/tests/test-ocaml
/tests/test-offset
/tests/test-oldstyle
/tests/test-old-plugins-*.sh
/tests/test-partition
/tests/test-pause
/tests/test-perl
/tests/test-python
/tests/test-random
/tests/test-readahead
/tests/test-ruby
/tests/test-shell
/tests/test-shell.img
/tests/test-socket-activation
/tests/test-split
/tests/test-streaming
/tests/test-tar-gzip-curl
/tests/test-tar-xz-curl
/tests/test-tcl
/tests/test-tmpdisk
/tests/test-vddk
/tests/test-xz
/tests/test-xz-curl
/test-driver
/valgrind/suppressions
